<extend name="Index:base" />
<block name="title"><title>下单成功页面</title></block>
<block name="link">
		<link href="__PUBLIC__/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
		 <!-- <link href="__PUBLIC__/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css"> -->
		<link href="__PUBLIC__/basic/css/demo.css" rel="stylesheet" type="text/css" />
		<!-- <link href="__PUBLIC__/css/cartstyle.css" rel="stylesheet" type="text/css" />
		
		<link href="__PUBLIC__/css/jsstyle.css" rel="stylesheet" type="text/css" /> -->
		<link rel="stylesheet" href="__PUBLIC__/css/successcustomer.css">
    	<link rel="stylesheet" href="__PUBLIC__/css/successordermain.css">
</block>
<block name="script">

	<script src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
</block>
<block name="main">

			<!-- <div class="clear"></div> -->
			 <!-- 内容开始 -->
			 <div class="am-g">
				  <div class="am-u-sm-12">
				  		<div id="notice_main" style="margin-left:150px">
	            <b><h1 style="margin-left:30px">您的订单提交成功，请尽快完成支付！</h1></b>
	            <div id="notice_info">
	            
	                <p >订单号：<span id="orderid" class="highlight bold success_info_pos">{$info.orders_num}</span>需支付金额：<span class="highlight bold success_info_pos">{$info.total}</span>支付方式：<span class="highlight bold">支付宝</span></p>
	                <div>
	                    <div id="success_line_2">还差一步，在收到全部订单金额后，我们会尽快为您安排发货！ </div>
	                    <div id="online_payment">
	                        <button id="pay" style="background:#FF3300;color:#fff;width:100px;height:35px;border-radius:10%;font-size:18px;margin-left:30px">立即支付</button>   
	                    </div>
	                    <div style="position:absolute;top:50px;left:750px;"><img src="__PUBLIC__/images/zfb.jpg" style="width:200px;" alt=""></div>
	                </div>
	                <p class="isolate">如遇到其他问题，您可以拨打客户服务热线：400-666-8888</p>
	            </div>  
	            <div id="success_shopping_line"></div>
	            <div id="notice_desc">您还可以<a id="order_detail_link" title="查看订单详情" href="__APP__/Home/Order/orderinfo/num/{$info.orders_num}">查看订单详情</a>
	            <a id="continue_to_shopping" title="继续购物" href="{:U('Home/List/list')}">继续购物</a>
	            </div>
	        </div>
				  </div>
			</div>
	        
			
			<!-- <div class="clear"></div> -->
</block>

<block name="javascript">
		<script>
			$('#pay').click(function() {
				var oid = $('#orderid').html();

				location.href="__APP__/Home/Pay/payOrder/oid/"+oid+"."+"{$Think.config.URL_HTML_SUFFIX}";
			});
		</script>
</block> 