<extend name="Index:base" />
<!-- title模块 -->
<block name="title"><title>角色管理</title></block>
<!-- 内容模块 -->
<block name="main">
    <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">权限管理</a></li>
                <li class="am-active">角色管理</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 角色管理
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                 </div>
                        </div>
                    </div>


                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button id="addGroup" type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 添加角色</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-id">ID</th>
                                            <th class="table-name">名称</th>

                                            <th class="table-type">状态</th>

                                            <th class="table-author am-hide-sm-only">角色描述</th>
                                            <th class="table-date am-hide-sm-only">角色权限</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <foreach name="list" item="v">
                                        <tr>
                                            <td class="rid">{$v.id}</td>
                                            <td>{$v.title}</td>
                                            <td>
                                                <div class="tpl-switch">
                                                    <input type="checkbox" name="status" class="ios-switch bigswitch tpl-switch-btn " {$v['status']==1?checked:''} value="{$v.status}"/>
                                                    <div class="tpl-switch-btn-view changestatus" style="margin-top:-1px"> 
                                                        <div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="am-hide-sm-only">{$v.function}</td>
                                            <td class="am-hide-sm-only">{$v.rules|subtext=20}</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary edituser" gid="{$v.id}"><span class="am-icon-pencil-square-o" ></span> 成员管理</button>
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-warning editgroup" gid="{$v.id}"><span class="am-icon-pencil-square-o" ></span>权限管理</button>

                                                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only delgroup" gid="{$v.id}"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </foreach>
                                    </tbody>
                                </table>
                                {$page}
                                <hr>
                        </div>
                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>
        </div>
    </div>
</block>
<!-- javascript模块 -->
<block name="javascript">
    <script src="__PUBLIC__/js/echarts.min.js"></script>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/iscroll.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script>
        //点击添加角色
        $('#addGroup').click(function() {
            location.href = '__APP__/Admin/Authgroup/addgroup';
        });
        //点击成员管理
        $('.edituser').each(function() {
            $(this).click(function () {
                var id = $(this).attr('gid');
                location.href = '__APP__/Admin/Authgroup/edituser/id/'+id;
            });
        });
        //点击权限管理
         $('.editgroup').each(function() {
            $(this).click(function () {
                var id = $(this).attr('gid');
                location.href = '__APP__/Admin/Authgroup/editgroup/id/'+id;
            });
        });
        //点击删除
        $('.delgroup').each(function() {
            var that = $(this);
            $(this).click(function () {
                var id = $(this).attr('gid');
                $.post(
                    '{:U("Admin/Authgroup/delgroup")}',
                    {id:id},
                    function (data) {
                        if (data == 1) {
                            that.parent().parent().parent().parent().remove();
                        } 
                    },
                    'json'
                );
            });

        });
        //显示分页
        $('.current').wrap('<li></li>').parent().siblings().wrap('<li></li>').parent().parent().wrapInner('<ul class="am-pagination tpl-pagination"></ul>').wrapInner('<div class="am-fr"></div>').wrapInner('<div class="am-cf"></div>');

        //获取状态是否启用
        $('.changestatus').each(function() {
            var that = $(this);
            $(this).click(function() {
                if ($(this).siblings('input[name="status"]').attr('value') == 0) {
                    $(this).siblings('input[name="status"]').val(1);
                } else  {
                    $(this).siblings('input[name="status"]').val(0);
                } 
                var status = $(this).siblings('input[name="status"]').val();
                var rid = that.parent().parent().siblings('.rid').html(); 
                $.post(
                    '{:U("Admin/Authgroup/changestatus")}',
                    {id:rid, status:status},
                    function (data) {

                    },
                    'json'
                );  
            });
        });
    </script>
</block> 

    





        


    
    
